.react-tabs__tab-list {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
    border: none;
}
.react-tabs__tab-list > li:not(:first-child) {
    margin-left: 10px;
}
.react-tabs__tab--selected {
    border-radius: 0px;
    color: #b5502F;
    font-size: 14px;
    border: none;
    background-color: white !important;
}
.react-tabs__tab {
    font-weight: 500;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.06);
    bottom: 0px;
}
.react-tabs__tab-panel--selected {
    /* border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa; */
    background-color: #ECECEC;
    height: 610px;
    box-shadow: 0.055rem 0.055rem 1.11rem rgba(20, 20, 20, 0.27);
}